@{
    var showNavigation = ViewBag.ShowNavigation ?? true; // по умолчанию включено
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @if (IsSectionDefined("Title"))
        {
            <title>@RenderSection("Title") - Snapshot Manager</title>
        }
        else
        {
            <title>Snapshot Manager</title>
        }
        <script src="~/lib/modernizr-canvas.js"></script>
        <script src="~/scripts/modules/module-support-check.js"></script>
        <script type="module" src="~/scripts/layout.js"></script>
        <link rel="stylesheet" href="~/styles/_layout.css" />
</head>
    <body>
        <header>
        <canvas class ="header-canvas"></canvas>
        <span class="header-title">Snapshot Manager</span>
        <a class="header-config" href="/Configuration">
            Configuration
        </a>
        
            
        </header>
        @if (showNavigation)
        {
            @Html.Partial("_Navigation");
        }
        <main>       
            @RenderBody()
        </main>
        <footer>
        <p>&copy; <time datetime="2024-12">2024</time> - Snapshot Manager</p>            
        </footer>
    </body>
</html>
