    <script src="~/scripts/modules/module-support-check.js"></script>
    <script type="module" src="~/scripts/navigation.js"></script>
    <link rel="stylesheet" href="~/styles/_navigation.css" />
<nav>
    <button id="get-CredManager">Credential Manager</button>
    </nav>



