

    <style>
        nav {
            height: 40px;
            background-color: #606060;
        border-top: 2px solid #404040;
        border-bottom: 2px solid #404040;

        }
    </style>
    <script src="~/scripts/modules/module-support-check.js"></script>
    <script type="module" src="~/scripts/navigation.js"></script>
    <nav>
    <button id="get-CredManager">Credential Manager</button>
    </nav>



