@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .credsManager {
            background-color: blue;
            height: 30%;
            width: 20%;
        }
    </style>
   
</head>
<body>
    <div class="credsManager">
        <button modal-close="true">Close Wizard</button>
    </div>
</body>
</html>
