<script src="~/lib/split.min/split.min.js"></script>
<link rel="stylesheet" href="~/styles/home/index.css" />

<div class="content">
    <div class="cell a">A</div>
    <div class="cell b">B</div>
    <div class="cell c">C</div>
</div>
<script>
    Split(['.a', '.b', '.c']);
</script>


