@{
    Layout = "_Layout";
    ViewBag.ShowNavigation = false;
}
@section Title {
        Configuration
}
<script src="~/scripts/modules/module-support-check.js"></script>
<script type="module" src="~/scripts/configuration-layout.js"></script>
<link rel="stylesheet" href="~/styles/configuration/_configuration-layout.css" />

<main>
    <div class="left-menu" >
        <a class="left-menu-item" targt="DbSettings" href="@Url.Action("DbSettings", "Configuration")">
            Database settings          
        </a>
        <a class="left-menu-item" targt="Feedback" href="@Url.Action("Feedback", "Configuration")">
            Feedback
        </a>
        <a class="left-menu-item configuration-leave-button" href="@Url.Action("Index", "Home")">
            Back to Home
        </a>
    </div>

    <div class="configuration-content">
        @RenderBody()
    </div>
</main>